# 키스토어 파일 경로 (android/app/ 폴더 기준)
storeFile=my-release-key.keystore
# 키스토어 비밀번호 (실제 비밀번호로 변경하세요)
storePassword=seung0075!
# 키 별칭
keyAlias=my-key-alias
# 키 비밀번호 (실제 비밀번호로 변경하세요)
keyPassword=seung0075!


