html,
body {
  background-color: #F4F1EA;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: #14162B;
}

ion-app {
  background-color: #F4F1EA;
}

input,
button {
  font-family: inherit;
}
